# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# סביבות מקומיות
.env.local
.env.development.local
.env.test.local
.env.production.local

# קבצים סודיים - לא לשמור בגיט
google-credentials.json
src/google-credentials.json
/credentials/credentials.json

# לוגים
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# קבצי סביבת הרצה של vercel
.vercel

# במידת הצורך תוכל להוסיף קובצי סוד ספציפיים ידנית
# אל תמנע את כל קובצי ה־.env אם אתה צריך אותם בפרויקט
